.img{
    height: 27vh;
}
li{
    list-style-type: none;
}
.titulo{
    text-decoration: underline;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}
.texto{
    font-family: 'roboto mono';
}
    