.img{
    height: 27vh;
    border-radius: 5%;
    border: 3px solid black;
}
li{
    list-style-type: none;
}
.titulo{
    text-decoration: underline;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}
.texto{
    font-family: 'roboto mono';
}
.background-proyectos{
    background-image: url(../../../assets/proyectos/background-proyectos.jpg);
}
    