<div id="proyectos" class="container-fluid">
  <div class="row vh-100">
    <div class="col-sm">
      <h1 class="titulo text-center mt-3">Proyectos</h1>
    </div>
    <div class="col-sm-12">
      <ul class="d-flex flex-wrap justify-content-center">
        <li class="mx-5">
          <img
            class="img"
            src="../../../assets/proyectos/pexels-life-of-pix-7974.jpg"
            alt=""
          />
          <p class="text-center texto">Proyecto 1</p>
        </li>
        <li class="mx-5">
          <img
            class="img"
            src="../../../assets/proyectos/pexels-life-of-pix-7974.jpg"
            alt=""
          />
          <p class="text-center texto">Proyecto 2</p>
        </li>
        <li class="mx-5">
          <img
            class="img"
            src="../../../assets/proyectos/pexels-life-of-pix-7974.jpg"
            alt=""
          />
          <p class="text-center texto">Proyecto 3</p>
        </li>
        <li class="mx-5">
          <img
            class="img"
            src="../../../assets/proyectos/pexels-life-of-pix-7974.jpg"
            alt=""
          />
          <p class="text-center texto">Proyecto 4</p>
        </li>
      </ul>
    </div>
  </div>
</div>
