<header class=".container row">
    <div class="col">
        <img class="log-arg-prog" src="../../../assets/logo/logoargprog.jpg" alt="">
    </div>
    <!--Barra de navegacion-->
    <nav class="col">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
      </ul>
      </nav>
      <!--Redes-->
      <div class="col" >
        <a href="#"><img class="iconos-redes" src="../../../assets/redes/LinkedIn.svg" alt=""></a>
        <a href="#"><img class="iconos-redes" src="../../../assets/redes/github.svg" alt=""></a>
        <a href="#"><img class="iconos-redes" src="../../../assets/redes/Twitter.svg" alt=""></a>
      </div>
      <!--Boton LogIn-->
      <div class="col">
          <a href="">Login</a>
      </div>
</header>
