<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1 ps-0">
        <img class="log-arg-prog" src="../../../assets/logo/logoargprog.jpg" alt="">
    </div>
    <!--Barra de navegacion-->
    <nav class="col-sm-8 d-flex justify-content-center mt-3">
    <ul class="nav nav-tabs">
        <li class="nav-item me2">
          <a class="nav-link text-dark" href="#home">Home</a>
        </li>
        <li class="nav-item mx-5 ">
          <button class="nav-link text-dark"  (click)="acercaDe()">Acerca De</button>
        </li>
        <li class="nav-item mx-5 text-dark">
            <button class="nav-link text-dark" (click)="skills()" >Skills</button>
          </li>
          <li class="nav-item ms-5">
            <button class="nav-link text-dark" (click)="proyectos()" >Proyectos</button>
          </li>
      </ul>
      </nav>
      <!--Redes-->
      <div class="col-sm-2 d-flex justify-content-center mt-2" >
        <img (click)="contacto()" class="icono-gmail mt-1 me-1" src="../../../assets/redes/gmail.svg" alt="gmail">
        <a href="https://ar.linkedin.com/"><img class="iconos-redes ms-2" src="../../../assets/redes/LinkedIn.svg" alt="linkedin"></a>
        <a href="https://twitter.com/home"><img class="iconos-redes ms-2" src="../../../assets/redes/Twitter.svg" alt="twitter"></a>
        <a href="https://github.com/jorgeheiden"><img class="iconos-redes ms-2" src="../../../assets/redes/github.svg" alt="github"></a>
      </div>
      <!--Boton LogIn-->
      <div class="col-sm d-flex justify-content-center ps-0 mt-2 mb-2">
          <button class="btn btn-outline-dark" (click)="log()">{{botonLogin}}</button>
      </div>
    </div>
    </div>

    