.log-arg-prog{
    height: 55px;
}
.iconos-redes{
    height: 40px;
}
.icono-gmail{
    height: 34px;
    cursor: pointer;
}
.login{
    background-color: green;
}
.login:hover{
    background-color: red;
}
.nav{
    font-family: 'roboto mono';
    font-weight: 400;
    
}

.btn{
    font-family: 'Lobster', cursive;
    font-size: 1.3rem;
}
