<div class="container-fluid background altura">
    <div class="col-sm d-flex justify-content-center align-content-center flex-wrap mb-5">
        <h1 class="titulo text-center mt-3">Experiencia Laboral</h1>
    </div>
    <div>
        <ul class="d-flex flex-column ps-0">
            <li class="d-flex flex-row flex-wrap mb-4 justify-content-center pe-5" *ngFor="let dato of datos | orderBy: 'idTrab' ">
                <div class="">
                    <img [src]="dato.imagenTrab" alt="imagen" class="img me-5">
                </div>
                <div class="ms-5 me-5 w-25 experiencia">
                    <h1 class="nombre">{{dato.nombreTrab}}</h1>
                    <p class="descripcion" >{{dato.descripcionTrab}}</p>
                </div>
                
            </li>
        </ul>
    </div>
</div>