<div class="d-flex flex-column justify-content-center align-item-center">
    <h1 class="mt-5 text-center">Contacto</h1>
<form ngNoForm class="form mx-auto border border-3 rounded p-4 border-dark" name="Contacto" action="https://formspree.io/f/xjvljeyo"
method="POST">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input type="text" name="nombre" class="form-control" id="nombre" aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" name="email" class="form-control" id="email" required>
    </div>
    <div>
        <label for="mensaje">Mensaje:</label>
<textarea class="form-control" name="mensaje" rows="5" id="mensaje" name="text"></textarea>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <button type="submit" value="submit" class="btn btn-success w-25">Enviar</button>
    </div>
  </form>
</div>





