
.redondeado{
    border-radius: 50%;
    border: 5px solid rgb(18, 26, 95);
    height: 30%;
    width: 50%;
    margin-bottom: 43%;
}
.margen{
    margin-bottom: 15%;
}
.fuente{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}