<!--Presentacion-home-->
<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-sm-4 d-flex justify-content-center align-items-center">
            <img class="img-fluid redondeado" src="../../../assets/home/img-home.jpg" alt="">
            </div>
        <div class="margen col-sm d-flex flex-column justify-content-center">
            <h1 class="fuente">Hola! Mi nombre es Jorge</h1>
            <h1 class="fuente">Soy Full Stack Developer Junior</h1>
        </div>
    </div>
</div>

