
.redondeado{
    border-radius: 50%;
    border: 5px solid rgb(18, 26, 95);
    height: 30%;
    width: 58%;
    background-color: rgb(18, 26, 95);
    margin-bottom: 54%;
    
}
.margen{
    margin-bottom: 15%;
}
.fuente{
    font-family: 'Space Mono', monospace;
    font-weight: 700;

    
}
/*.efecto{
    white-space: nowrap; 
    width: 0;
    overflow: hidden;
    animation: typing 1s steps(25, end) forwards;
    animation-delay: 2s;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }*/

@media only screen and (max-width: 564px){
    
    .ocultar{
        display: none;
        
    }
    .vh{
        height: 70vh!important;
    }
    .margen{
        margin-bottom: 200px;
    }
    .fuente{
        text-align: center;
        font-size: 4vh;
    }
    
    
}