.img{
    height: 27vh;
    border-radius: 5%;
    border: 3px solid black;
    width: 15rem;
}

.img:active{
    transform: scale(0.9);
}
.img:hover{
   opacity: 0.3;
    
}
li{
    list-style-type: none;
    
    
}
.titulo{
    text-decoration: underline;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    margin-left: 40%;
    
}
.texto{
    font-family: 'roboto mono';
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    

}
.background-proyectos{
    background-image: url(../../../assets/proyectos/background-proyectos.jpg);
}
.btn-eliminar{
    background-image: url(../../../assets/iconos-proyecto/eliminar.svg);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 2.2rem;
    width: 2.2rem;
    border: none;
    box-shadow: 0 0 10px;
}
.btn-eliminar:active{
 transform: scale(0.9);
}

.btn-actualizar{
    background-image: url('../../../assets/icono-editar/lapiz.png');
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 2.2rem;
    width: 2.2rem;
    border: none;
    box-shadow: 0 0 5px;
}
.btn-actualizar:active{
    transform: scale(0.9);
}

.btn-upload{
    margin-left: 20%;
    background-image: url(../../../assets/iconos-proyecto/upload-3d.svg);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    height: 3rem;
    width: 3rem;
    box-shadow: 0 0 10px ;
    margin-top: 1.6%;
}
.btn-upload:active{
    transform: scale(0.9)
}
.altura{
    min-height: 100vh; 
    height: 100%; 
    display: table;
}
@media only screen and (max-width: 564px){
    .titulo{
        margin-left: 15%;
    }
    .marg{
        margin-left: 0!important;
    }
    ul{
        margin-left: 0!important;
        padding: 0!important;
    }
}