.list-item-skils{
    list-style-type: none;
    font-family: 'Space Mono', monospace;
    
}
.fondo{
    background: white;
}
.imagen-skils{
    border-radius: 20%;
    margin-top: 100px;
}
.fuente{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 10vh;
    text-decoration: underline;
    color: rgb(14, 14, 116);
}
.icono-skills{
    height: 15vh;
}
.background{
    background-color: #0eae57;
    background-image: linear-gradient(180deg, #0eae57 0%, #0c7475 100%);
    color: white;
}
.fondo-texto{
    background-color: #060f61;
    border-radius: 8%;
    padding: 0 0.5rem 0 0.5rem;
}
.columna-skils{
    background-color: #F2F3F4;
}