<div id="skills" class="container-fluid">
    
    <div class="skils  row d-flex">
        <div class="columna-skils vh-100 col-sm fondo d-flex flex-column">
            <h1 class="ms-5 fuente">Skills</h1>
            <img class="imagen-skils img-fluid float-end h-50 w-75 align-self-end" src="../../../assets/skils/skil-skil.jpg" alt="">
        </div>
        <div class="col-sm background">
            <ul class="d-flex flex-wrap justify-content-center" >
                <li class="list-item-skils me-5 mb-5 text-center" *ngFor="let dato of datos | orderBy: 'idProy' " >
                    <img class="img" [src]="dato.imagenHab" alt="">
                    <p class="fondo-texto mt-1" >{{dato.nombreHab}}</p>
                    
                </li>
            </ul>
        </div>
</div>


<!--
<div id="skills" class="container-fluid">
<div class="skils  row d-flex">
    <div class="columna-skils vh-100 col-sm fondo d-flex flex-column">
        <h1 class="ms-5 fuente">Skills</h1>
        <img class="imagen-skils img-fluid float-end h-50 w-75 align-self-end" src="../../../assets/skils/skil-skil.jpg" alt="">
    </div>
    <div class="col-sm background ">
       <ul class="d-flex flex-wrap justify-content-center">
            <li class="list-item-skils me-5 mb-5 text-center">
                <img class="icono-skills" src="../../../assets/skils/html.svg" alt="Html">
                <p class="fondo-texto mt-1">Html</p>
            </li>
            <li class="list-item-skils me-5 text-center">
                <img class="icono-skills" src="../../../assets/skils/javascript.svg" alt="JavaScript">
                <p class="fondo-texto mt-1">JavaScript</p>
            </li>
            <li class="list-item-skils me-5 text-center">
                <img class="icono-skills" src="../../../assets/skils/css.svg" alt="Css">
                <p class="fondo-texto mt-1">CSS</p>
            </li>
            <li class="list-item-skils me-5 text-center">
                <img class="icono-skills" src="../../../assets/skils/git.svg" alt="Git">
                <p class="fondo-texto mt-1">Git</p>
            </li>
            <li class="list-item-skils me-5 mb-5 text-center">
                <img class="icono-skills" src="../../../assets/skils/angular.svg" alt="Angular">
                <p class="fondo-texto">Angular</p>
            </li>
            <li class="list-item-skils me-5 text-center">
                <img class="icono-skills" src="../../../assets/skils/typescript.svg" alt="TypeScript">
                <p class="fondo-texto">TypeScript</p>
            </li>
            <li class="list-item-skils me-5 text-center">
                <img class="icono-skills" src="../../../assets/skils/sql.svg" alt="Sql">
                <p class="fondo-texto">Sql</p>
            </li>
            <li class="list-item-skils me-5 text-center">
                <img class="icono-skills" src="../../../assets/skils/java.svg" alt="Java">
                <p class="fondo-texto">Java</p>
            </li>
            <li class="list-item-skils me-5 text-center">
                <img class="icono-skills" src="../../../assets/skils/springboot.svg" alt="SpringBoot">
                <p class="fondo-texto">SpringBoot</p>
            </li>
    
        </ul>
    </div>
</div>
</div>
-->
