.list-item-skils{
    list-style-type: none;
}
.fondo{
    background: white;
}
.imagen-skils{
    border-radius: 20%;
    margin-top: 100px;
}
.fuente{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 10vh;
}