<div id="skills" class="container-fluid">
    
    <div class="skils  row d-flex">
        <div class="columna-skils vh-100 col-sm fondo d-flex flex-column">
            <h1 class="ms-5 fuente">Skills</h1>
            <img class="imagen-skils img-fluid float-end h-50 w-75 align-self-end" src="../../../assets/skils/skil-skil.jpg" alt="">
        </div>
        <div class="col-sm background">
            <div class="d-flex justify-content-end">
                <button  type="button" class="btn-upload " data-bs-toggle="modal" data-bs-target="#modalProyectos"></button>
            </div>
            <ul class="d-flex flex-wrap justify-content-center" >
                <li class="list-item-skils me-5 mb-3 text-center" *ngFor="let dato of datos | orderBy: 'idProy' " >
                    <img class="img" [src]="dato.imagenHab" alt="">
                    <p class="fondo-texto mt-1" >{{dato.nombreHab}}</p>
                    <div class="d-flex">
                        <button class="btn-eliminar" (click)="eliminar(dato.idHab)" ></button>
                        <button class="btn-actualizar" (click)="obtenerIdHabilidad(dato.idHab)" data-bs-toggle="modal" data-bs-target="#modalActualizarHabilidad" ></button>
                    </div>
                </li>
            </ul>
        </div>

                          <!--***************MODAL*******************-->
  
  
  <!-- The Modal -->
  <div class="modal modal fade" id="modalProyectos">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Agregar Skill</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <h5>Agregar una Imagen:</h5>
          <input class="mb-3" type="file" accept="png, jpg, jpeg, svg" (change)="cargarImagen($event)" >
          <h5>Nombre de la Habilidad</h5>
          <input class="mb-3 w-75 ms-1" type="text" #nombreHabilidad/>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"  data-bs-dismiss="modal"
          (click)="enviar(imagenes, nombreHabilidad.value); nombreHabilidad.value= '' ">Enviar</button>
        </div>
  
      </div>
    </div>
  </div>

  <!-- MODAL UPDATE -->
  <div class="modal modal fade" id="modalActualizarHabilidad">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Editar Skill</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <h5>Agregar una Imagen:</h5>
          <input class="mb-3" type="file" accept="png, jpg, jpeg" (change)="cargarImagen($event)">
          <h5>Nombre de la Habilidad:</h5>
          <input class="mb-3 ms-1 w-75" type="text" #nombreEditarHabilidad/>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="sub" class="btn btn-danger" (click)="actualizar(idHabilidad, imagenes, nombreEditarHabilidad.value); nombreEditarHabilidad.value= '' " data-bs-dismiss="modal">Enviar</button>
        </div>
  
      </div>
    </div>
  </div>

</div>
