<div id="acercade" class="container-fluid">
  <div class="acercade row">
    <section class="introduccion-fondo vh-100 col-sm d-flex flex-column justify-content-center">
      
        <p class="introduccion mx-4">
          Mi nombre es <!--{{miPortfolio.nombre}}-->Jorge Heidenreich. Soy de Buenos Aires, Argentina.
          Entusiasta de la tecnologia y el desarrollo de software
        </p>
        <button type="button" class="btn-descarga-cv btn btn-outline-danger w-30 align-self-center ">
          Descargar CV
        </button>
  
    </section>

    <section
      class="formacion vh-100 col-sm d-flex flex-column justify-content-center"
    >
      <h1 class="formacion-margen">Formacion</h1>
      <h2 class="formacion-margen">Como Desarrolador:</h2>
      <ul class="formacion-margen">
        <li class="d-flex align-content-center" *ngFor="let nombre of nombres">-{{nombre.nombre}}, {{nombre.apellido}}
          <button class="boton-eliminar ms-4" (click)="eliminar(nombre.id)"></button>
        </li>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-outline-dark mt-4 me-5" data-bs-toggle="modal" data-bs-target="#myModal">Agregar</button>
        </div>

      </ul>
          <!--MODAL-->
      <div class="modal fade " id="myModal">
        <div class="modal-dialog modal-fullscreen-sm-down">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title text-black">Formacion</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body d-flex flex-column">
              <h5 class="text-dark" >Titulo</h5>
              <input class="w-75" type="text" #nombre/>
              <h5 class="text-dark">Institucion</h5>
              <input class="w-75" type="text" #apellido/>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button (click)="agregar(nombre.value, apellido.value)" type="button" class="btn btn-danger" data-bs-dismiss="modal">Agregar</button>
            </div>
      
          </div>
        </div>
      </div>
      <!--
        <ul class="formacion-margen">
          <li>Introduccion a la Programacion, Argentina Programa</li>
          <li>Front Web Developer, Udemy</li>
          <li>Full Stack Developer Junior, Argentina Programa</li>
        </ul>
      -->
      <!--
        <ul class="formacion-margen">
          <li *ngFor="let educacion of educacionList" >{{educacion.titulo}}, {{educacion.institucion}}</li>
        </ul>
      -->

      <h2 class="formacion-margen">Educacion:</h2>
      <ul class="formacion-margen">
        <li>Abogado, Universidad Nacional De Lomas De Zamora</li>
        <li>
          Tecnico Electromecanico, Secundario Intituto Tecnico San Cayetano
        </li>
      </ul>
    </section>
  </div>
</div>
