<div class="acercade .container row">
<section class="introduccion-fondo col d-flex flex-column justify-content-center align-items-center">
  <p class="introduccion">
    Mi nombre es Jorge Heidenreich. Soy de Buenos Aires, Argentina. Entusiasta
    de la tecnologia y el desarrollo de software
  </p>
  <a href="#">Descargar CV</a>
</section>

<section class="formacion col d-flex flex-column justify-content-center">
  <h1 class="formacion-margen">Formacion</h1>
  <h2 class="formacion-margen" >Como Desarrolador:</h2>
  <ul class="formacion-margen" >
    <li>Introduccion a la Programacion, Argentina Programa</li>
    <li>Front Web Developer, Udemy</li>
    <li>Full Stack Developer Junior, Argentina Programa</li>
  </ul>
  <h2 class="formacion-margen" >Educacion</h2>
  <ul class="formacion-margen" >
    <li>Abogado, universidad Nacional De Lomas De Zamora</li>
    <li>Tecnico Electromecanico, Secundario Intituto Tecnico San Cayetano</li>
  </ul>
</section>
</div>