.acercade{
    height: 100%;
    margin-top: 28%;
    
}
.introduccion{
    font-size: 1.4rem;
    margin: 80px 50px;
    color: white;
}
.introduccion-fondo{
    background-color: rgba(6, 6, 153, 0.952);
}
.formacion{
    color: white;
    background-color: gray;
}
.formacion-margen{
    margin-left: 50px;
}