.introduccion{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 5vh;
    color: rgb(14, 14, 116);
}
.btn-descarga-cv{
    margin-top: 10vh;
}

.formacion-margen{
    margin-left: 4vw;
    list-style: none;
}
.margen-li1{
    margin-left: 6vh;
}

.formacion h1{
    text-decoration: underline;
    margin-bottom: 40px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}
.formacion h2{
    font-family: 'Space Mono', monospace;;
}
.formacion li{
    font-family: 'roboto mono';
}

.formacion{
    background-color: #0eae57;
    background-image: linear-gradient(0deg, #0eae57 0%, #0c7475 100%);
    border-radius: 2% 0 0 0;
    color: #F2F3F4;
}
.acercade{
    background-color: #F2F3F4;

}
.boton-eliminar{
    background-image: url(../../../assets/iconos-proyecto/eliminar.svg);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    height: 1.5rem;
    width: 1.5rem;
    box-shadow: 0 0 10px ;
    
}
.boton-eliminar:active{
    transform: scale(0.9);
}
@media only screen and (max-width: 564px){
    .formacion-margen{
        margin-left: 0;
    }
    .margen-li1{
        margin-left: 0;
    }
}
.lista-educacion-margen{
    margin-left: 3vw;
}
.btn-formacion{
    background-image: url(../../../assets/iconos-proyecto/upload-3d.svg);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    height: 3rem;
    width: 3rem;
    box-shadow: 0 0 10px ;
}
.btn-formacion:active{
    transform: scale(0.9);
}
li{
    font-size: 1.05rem;
    margin-top: 0.4rem;
}