<div class="acercade .container row">
<section class="col d-flex flex-column justify-content-center align-items-center">
  <p class="introduccion">
    Mi nombre es Jorge Heidenreich. Soy de Buenos Aires, Argentina. Entusiasta
    de la tecnologia y el desarrollo de software
  </p>
  <a href="#">Descargar CV</a>
</section>

<section class="col d-flex flex-column justify-content-center">
  <h1>Formacion</h1>
  <h2>Como Desarrolador:</h2>
  <ul>
    <li>Introduccion a la Programacion, Argentina Programa</li>
    <li>Front Web Developer, Udemy</li>
    <li>Full Stack Developer Junior, Argentina Programa</li>
  </ul>
  <h2>Educacion</h2>
  <ul>
    <li>Abogado, universidad Nacional De Lomas De Zamora</li>
    <li>Tecnico Electromecanico, Secundario Intituto Tecnico San Cayetano</li>
  </ul>
</section>
</div>