/* You can add global styles to this file, and also import other style files */
body, html{
    height: 100%;
    overflow-x: hidden;
}
/*.background{
    background-image: url("./assets/imagenes/background/pexels-lumn-316466.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/
::-webkit-scrollbar {
    width: 6px;
    }
    ::-webkit-scrollbar-thumb {
        background: rgb(170, 169, 169); 
        border-radius: 10px;
      }
      ::-webkit-scrollbar-track{
          background-color: rgba(221, 221, 221, 0.63);
      }
      @media only screen and (max-width: 564px){
        ::-webkit-scrollbar{
            display: none;
        }
      }